.songEl {
  background-color: #0d324d;
  background-image: linear-gradient(315deg, #7f5a83 0%, #0d324d 74%);
}

body {
  background-color: #7f5a83;
  background-image: linear-gradient(315deg, #0d324d 0%, #7f5a83 74%);
}
